.fas{
  display: none;
}

@media only screen and (max-width: 850px){



  nav .fas{
    display: block;
    font-size: 25px;
  }

  nav ul{
    background: rgb(238, 228, 228);
    position: fixed;
    top: 0;
    right:-200px;
    width:25vw;
    height:100vh;
    padding-top:5rem;
    z-index: 2;
    transition: right 0.5s;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: start;
    font-size: 0.8em;
  }

  nav ul .fas{
    position: absolute;
    top: 1.5vh;
    cursor: pointer;
  } 

}