@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html{
  width: 100%;
  height: 100%;
}

/* HEADER SECTION */
#header{
  width: 100%;
  height: 100%;
}

.navigation{
  height: 17vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.logo{
  cursor: default;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-bar ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  column-gap: 2rem;
  font-weight: 500;
}

.nav-bar a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height:2px;
  background:#ff004f;
  position: absolute;
  left:0;
  bottom:-8px;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover::after{
  width:100%;
  box-shadow: inset 2px 2px 5px #000;
}

.profile{
  height: 83vh; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}




.profile-main-img-container{
  width: 250px; 
  height: 250px;
  /* has to be fixed for short screens */
}

.profile .profile-main-img-container img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position:top;
}


.profile .profile-info{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.profile .profile-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile .profile-text p:first-child{
  color: rgb(85, 85, 85);
}

.profile .profile-text p:last-child{
  color: rgb(85, 85, 85);
}

.profile .profile-text p:nth-child(2){
  color: rgb(85, 85, 85);
}


.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 1rem;
}

.buttons .btn{
  border: rgb(53, 53, 53) 0.1rem solid;
  font-weight: 600;
  transition: all 300ms ease;
  padding: 0.8rem;
  width: 8rem;
  border-radius: 2rem;
  cursor: pointer;
}

.buttons .btn:hover{
  background: rgb(49, 48, 48);
  color: white;
}

.social-links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2rem;
}

.social-links a{
  text-decoration: none;
}

.fa-linkedin{
  color: rgb(37, 37, 192);
  transition: all 0.2s ease-in-out;
}


.fa-kaggle{
  color: rgb(58, 58, 197);
  transition: all 0.2s ease-in-out;
}


.fa-facebook{
  color: rgb(69, 69, 211);
  transition: all 0.2s ease-in-out;
}

.fa-github{
  transition: all 0.2s ease-in-out;
}

.fa-twitter{
  color: rgb(37, 37, 192);
  transition: all 0.2s ease-in-out;
  padding: 0px;
}

.social-links i:hover{
  transform: translateY(-5px) scale(1.2);
}












#about{
  background: blueviolet;
  width: 100%;
  height: 100%;
}