.fas{
  display: none;
}

@media only screen and (max-width: 500px){
  .contact-container{
    flex-direction: column;
  }

  .contact-container .left-col{
    align-items: start;
  }

}

@media only screen and (max-width: 850px) {


  nav .fas{
    display: block;
    font-size: 27px;
  }

  nav ul{
    background: #87CEEB;
    position: fixed;
    top: 0;
    right:-500px;
    width:30%;
    height:100vh;
    padding-top:5rem;
    z-index: 2;
    transition: right 0.5s;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: start;
    font-size: 0.9em;
  }

  nav ul .fas{
    position: absolute;
    top: 1.5vh;
    cursor: pointer;
  } 
  nav ul li{
    display: block;
  }


  .about-me-text{
    font-size: 0.8rem;
  }

  .second-portfolio-image{
    width: 200px;
    height: 300px;
  }


}

@media only screen and (min-width: 1000px){

  .profile-main-img-container{
    width: 350px; 
    height: 350px;
  }
  
}
